<mat-toolbar color="primary">
  <h1>Discord Sound Board</h1>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <div *ngFor="let guild of guilds">
      <div *ngIf="guild.icon"
           (click)="selectGuild(guild)"
           [class]="guild.id === this.selectedGuildId ? 'selected-guild' : ''">
        <img class="round guild-icon"
             [src]="'https://cdn.discordapp.com/icons/' + guild.id + '/' + guild.icon">
      </div>
      <div *ngIf="!guild.icon" (click)="selectGuild(guild)"
           [class]="guild.id === this.selectedGuildId ? 'selected-guild no-img-guild round guild-icon' : 'no-img-guild round guild-icon'">
        <span>{{guild.name.charAt(0).toUpperCase()}}</span>
      </div>
    </div>
    <div class="no-img-guild round add-guild guild-icon"><span class="add-guild-span">+</span></div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-card>
      <mat-card-content>
        <mat-tab-group>
          <div *ngFor="let category of categories">
            <mat-tab [id]="'category'" label="{{category.name}}">
              <div class="song-grid">
                <div *ngFor="let song of category.songs">
                  <button (dragend)="onSongDrop($event, song)" draggable="true" class="song-button draggable" [id]="song.name" mat-raised-button
                          (click)="playSong(song.name, category.name)">
                    {{song.name}}
                  </button>
                </div>
                <div *ngFor="let file of files">
                  <button class="song-button" mat-raised-button #songButtons>
                    {{file.name | removeExtension}}
                    <mat-progress-bar style="bottom: 0;  position: absolute;  left: 0;"
                                      *ngIf="progress"
                                      mode="determinate"
                                      [value]="progress[file.name].progress | async"></mat-progress-bar>
                  </button>
                </div>
                <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple/>

                <button class="song-button" mat-raised-button [matMenuTriggerFor]="addMenu">
                  <mat-icon style="color: #67b363;">add_circle</mat-icon>
                </button>
                <mat-menu #addMenu="matMenu">
                  <button mat-menu-item (click)="addSong(category.name)">
                    <mat-icon>cloud_upload</mat-icon>
                    <span>From Disk</span>
                  </button>
                  <button mat-menu-item (click)="openAddFromYoutubeDialog(category.name)">
                    <mat-icon>youtube_searched_for</mat-icon>
                    <span>From Youtube</span>
                  </button>
                </mat-menu>
              </div>
            </mat-tab>
          </div>
          <mat-tab disabled>
            <ng-template mat-tab-label>
              <button mat-icon-button (click)="createCategory()">
                <mat-icon style="color: green;">add_circle</mat-icon>
              </button>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
