/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.basic-container {
  padding: 30px;
}

.mat-sidenav-container {
  height: 100%;
}

.mat-sidenav {
  padding: 10px;
}

mat-spinner {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
