<h1 mat-dialog-title>Upload from Youtube</h1>
<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <div *ngIf="!videoInfos">
    <div mat-dialog-content>
      <p>Video URL</p>
      <mat-form-field>
        <label>
          <input matInput [(ngModel)]="videoURL">
        </label>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button>Cancel</button>
      <button mat-button (click)="search()">Search</button>
    </div>
  </div>
  <div *ngIf="!!videoInfos">
    <div mat-dialog-content class="youtube-video">
      <img style="grid-column: 1" [src]="videoInfos.thumbnail"/>
      <div style="grid-column: 2; max-width: 300px;">
        <h3>{{videoInfos.title}}</h3>
        <p>{{videoInfos.description}}</p>
      </div>
    </div>
    <mat-form-field>
      <input matInput [(ngModel)]="uploadName" placeholder="Enter a name">
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-button>Cancel</button>
      <button mat-button (click)="upload()">Upload</button>
    </div>
  </div>
</div>
