<h1 mat-dialog-title>Create a new category</h1>
<mat-form-field>
  <input matInput [(ngModel)]="categoryName" placeholder="Enter a name">
</mat-form-field>
<div mat-dialog-actions>
  <button mat-button>Cancel</button>
  <button mat-button (click)="createCategory()">Upload</button>
</div>
